{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% block title %}Статистика по рыбалочкам{% endblock %}

{% block content %}
<h2>Общее количество выпитой водки:</h2>
{{ count_vodka }} л.
<h2>Общее количество выпитого пивка:</h2>
{{ count_beer }} л.
<h2>Общее количество пойманной рыбы:</h2>
{{ count_fish }} кг.
<style>
table {
    border-collapse: collapse;
  }
th{
        border: 1px solid black;
        padding: 5px;
        color:white;
        background:black;
    }
    td{
        border: 1px black;
        padding: 25px;
        font-size: 20pt;
    }
</style>
  </head>
  <body>
 <table border="1px" align="center" width="200">
   <tr><th>На каждую пойманную рыбу выпивается водки</th></tr>
   <tr><td>{{ coefficient }}л.</td></tr>
 </table>

<hr size="10" color="black">
<h1>Информация о прошедших карповых сессиях:</h1>
  {% render_table people %}

  </body>
{% endblock %}