{% extends "base.html" %}

{% block title %}Статистика по рыбалочкам{% endblock %}

{% block content %}
<h2>Общее количество выпитой водки:</h2>
{{ count_vodka }} л.
<h2>Общее количество выпитого пивка:</h2>
{{ count_beer }} л.
<h2>Общее количество пойманной рыбы:</h2>
{{ count_fish }} кг.
<h2>Коэфициент водка/рыба составляет:</h2>
{{ coefficient }}


<hr size="10" color="black">
<h1>Информация о прошедших карповых сессиях:</h1>
 {% for s in stats%}
<h5>Место</h5>
{{ s.place }}
<h5>Дата</h5>
{{ s.date}}
<h5>Описание</h5>
{{ s.description }}
<h5>Рыба</h5>
{{ s.fish_name }}
<h5>Количество рыбы</h5>
{{ s.fish_sum }} шт
<h5>Общий вес</h5>
{{ s.fish_kg }} кг
<h5>Выпито водочки</h5>
{{ s.vodka }} л
<h5>Распито пивка</h5>
{{ s.beer }} л
<h5>Использовано прикорма</h5>
{{ s.prikorm }} кг
<br>
<hr>
{% endfor %}
<h1>Общее количество выпитой водки</h1>
{{ count_vodka }} л
<h1>Общее количество выпитого пивка</h1>
{{ count_beer }} л
{% endblock %}
<h1>123</h1>