{% extends "base.html" %}

{% block title %}Статистика по рыбалочкам{% endblock %}

{% block content %}
<h2>Общее количество выпитой водки:</h2>
{{ count_vodka }} л.
<h2>Общее количество выпитого пивка:</h2>
{{ count_beer }} л.
<h2>Общее количество пойманной рыбы:</h2>
{{ count_fish }} кг.
<style>
table {
    border-collapse: collapse;
  }
th{
        border: 1px solid black;
        padding: 5px;
        color:white;
        background:black;
    }
    td{
        border: 1px black;
        padding: 25px;
        font-size: 50pt;
    }
</style>
  </head>
  <body>
 <table border="1px" align="center" width="200">
   <tr><th>Коэфициент водка/рыба</th></tr>
   <tr><td>{{ coefficient }}</td></tr>
 </table>

<hr size="10" color="black">
<h1>Информация о прошедших карповых сессиях:</h1>
 {% for s in stats%}
<h5>Место</h5>
{{ s.place }}
<h5>Дата</h5>
{{ s.date}}
<h5>Описание</h5>
{{ s.description }}
<h5>Рыба</h5>
{{ s.fish_name }}
<h5>Количество рыбы</h5>
{{ s.fish_sum }} шт
<h5>Общий вес</h5>
{{ s.fish_kg }} кг
<h5>Выпито водочки</h5>
{{ s.vodka }} л
<h5>Распито пивка</h5>
{{ s.beer }} л
<h5>Использовано прикорма</h5>
{{ s.prikorm }} кг
<br>
<hr>
{% endfor %}
  </body>
{% endblock %}